/* RESET */
div[data-advanced-edtior='true'] textarea{
    border: none;
    overflow: auto;
    outline: none;
    padding: 0;
    margin: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

div[data-advanced-edtior='true'] textarea{
    resize: vertical;
    border: 1px solid black;
    width: 100%;
    height: 200px;
    min-height: 100px;
}
div[data-advanced-edtior='true'] textarea:focus{
    border: 1px solid black;
}
div[data-advanced-edtior='true']{
    border: 2px solid black;
}
div[data-advanced-edtior='true'] .menuBar{
    border: 1px solid black;
}